USE [PCShop]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/3/2026 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_id] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [char](10) NULL,
	[Productid] [char](10) NULL,
	[So_Luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogue]    Script Date: 5/3/2026 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogue](
	[Cata_id] [char](10) NOT NULL,
	[Ten_Cata] [nvarchar](30) NULL,
 CONSTRAINT [PK_Cata] PRIMARY KEY CLUSTERED 
(
	[Cata_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 5/3/2026 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[Chat_id] [int] IDENTITY(1,1) NOT NULL,
	[From_User] [char](10) NULL,
	[To_User] [char](10) NULL,
	[Message] [nvarchar](500) NULL,
	[Ngay_Gui] [datetime] NULL,
	[Is_Read] [bit] NULL,
	[Is_Admin] [bit] NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[Chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 5/3/2026 4:20:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[OrderDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [int] NULL,
	[Productid] [char](10) NULL,
	[So_Luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 5/3/2026 4:20:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [char](10) NULL,
	[Productid] [char](10) NULL,
	[Noi_dung] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/3/2026 4:20:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [char](10) NULL,
	[Ngay_Dat] [datetime] NULL,
	[Tong_Gia] [decimal](10, 2) NULL,
	[Trang_Thai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/3/2026 4:20:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_id] [char](10) NOT NULL,
	[Ten_Product] [nvarchar](150) NULL,
	[Mo_Ta_Product] [nvarchar](1000) NULL,
	[Danh_Muc_id] [char](10) NULL,
	[Anh_SP] [varchar](255) NULL,
	[Gia] [decimal](10, 2) NULL,
	[So_Luong] [int] NULL,
	[So_Luong_Ban] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 5/3/2026 4:20:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[Pay_id] [int] IDENTITY(1,1) NOT NULL,
	[Orderid] [int] NULL,
	[Phuong_Thuc] [nvarchar](50) NULL,
	[Trang_Thai] [nvarchar](50) NULL,
	[Ngay_Thanh_Toan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Pay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/3/2026 4:20:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[User_id] [char](10) NOT NULL,
	[Mat_Khau] [char](12) NULL,
	[Ho_Ten_User] [nvarchar](30) NULL,
	[Dia_Chi_User] [nvarchar](50) NULL,
	[Phone] [char](12) NULL,
	[Quyen_han] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Catalogue] ([Cata_id], [Ten_Cata]) VALUES (N'CPU       ', N'CPU - Bộ xử lý')
INSERT [dbo].[Catalogue] ([Cata_id], [Ten_Cata]) VALUES (N'GPU       ', N'VGA - Card đồ họa')
INSERT [dbo].[Catalogue] ([Cata_id], [Ten_Cata]) VALUES (N'LOA       ', N'Loa - Âm thanh')
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([Chat_id], [From_User], [To_User], [Message], [Ngay_Gui], [Is_Read], [Is_Admin]) VALUES (1, N'user1     ', N'admin     ', N'cho hởi pc nào giá tốt', CAST(N'2026-04-16T05:56:25.000' AS DateTime), 1, 0)
INSERT [dbo].[Chat] ([Chat_id], [From_User], [To_User], [Message], [Ngay_Gui], [Is_Read], [Is_Admin]) VALUES (2, N'admin     ', N'user1     ', N'AI: Mình chưa tìm thấy sản phẩm khớp với yêu cầu: "". Bạn cho mình biết bạn cần CPU/VGA/Mainboard/Màn hình/Loa/PC và model cụ thể (vd: i5-14400F, RTX 4060, DDR5...).', CAST(N'2026-04-16T05:56:25.000' AS DateTime), 1, 1)
INSERT [dbo].[Chat] ([Chat_id], [From_User], [To_User], [Message], [Ngay_Gui], [Is_Read], [Is_Admin]) VALUES (3, N'user1     ', N'admin     ', N'giới thiệu cho tôi vài sản phẩm', CAST(N'2026-05-03T08:08:09.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
INSERT [dbo].[Products] ([Product_id], [Ten_Product], [Mo_Ta_Product], [Danh_Muc_id], [Anh_SP], [Gia], [So_Luong], [So_Luong_Ban]) VALUES (N'SP01      ', N'ZOTAC VGA Dual Fan', N'Card đồ họa ZOTAC thiết kế tản nhiệt 2 quạt, vỏ xám đen, phù hợp nâng cấp hiệu năng cho PC gaming/đồ họa.', N'GPU       ', N'/uploads/vga1.jpg', CAST(5490000.00 AS Decimal(10, 2)), 15, 0)
INSERT [dbo].[Products] ([Product_id], [Ten_Product], [Mo_Ta_Product], [Danh_Muc_id], [Anh_SP], [Gia], [So_Luong], [So_Luong_Ban]) VALUES (N'SP02      ', N'ZOTAC GAMING VGA Twin Fan', N'Card đồ họa ZOTAC GAMING tản nhiệt 2 quạt, khung máy màu đen, phù hợp lắp PC chơi game mức phổ thông đến trung-cao.', N'GPU       ', N'/uploads/vga2.jpg', CAST(6290000.00 AS Decimal(10, 2)), 12, 0)
INSERT [dbo].[Products] ([Product_id], [Ten_Product], [Mo_Ta_Product], [Danh_Muc_id], [Anh_SP], [Gia], [So_Luong], [So_Luong_Ban]) VALUES (N'SP03      ', N'Mainboard ASUS ROG Strix X670E-A Hatsune Miku Edition', N'Bo mạch chủ ASUS ROG Strix cho nền tảng AM5, phiên bản phối chủ đề Hatsune Miku, hỗ trợ DDR5 và hệ thống gaming cao cấp.', N'MB        ', N'/uploads/mb1.jpg', CAST(12990000.00 AS Decimal(10, 2)), 5, 0)
GO
INSERT [dbo].[USERS] ([User_id], [Mat_Khau], [Ho_Ten_User], [Dia_Chi_User], [Phone], [Quyen_han]) VALUES (N'admin     ', N'123         ', N'Nguyen Phuc Hung', N'Da Nang', N'145956709   ', 1)
INSERT [dbo].[USERS] ([User_id], [Mat_Khau], [Ho_Ten_User], [Dia_Chi_User], [Phone], [Quyen_han]) VALUES (N'user1     ', N'123         ', N'Tran Thi A', N'Ha Noi', N'150056709   ', 0)
INSERT [dbo].[USERS] ([User_id], [Mat_Khau], [Ho_Ten_User], [Dia_Chi_User], [Phone], [Quyen_han]) VALUES (N'user2     ', N'123         ', N'Nguyen Van B', N'HCM', N'590056709   ', 0)
GO
ALTER TABLE [dbo].[Chat] ADD  DEFAULT (getdate()) FOR [Ngay_Gui]
GO
ALTER TABLE [dbo].[Chat] ADD  DEFAULT ((0)) FOR [Is_Read]
GO
ALTER TABLE [dbo].[Chat] ADD  DEFAULT ((0)) FOR [Is_Admin]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [So_Luong_Ban]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Products_Cart] FOREIGN KEY([Productid])
REFERENCES [dbo].[Products] ([Product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Products_Cart]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_USERS_Cart] FOREIGN KEY([Userid])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_USERS_Cart]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_FromUser] FOREIGN KEY([From_User])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_FromUser]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_ToUser] FOREIGN KEY([To_User])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_ToUser]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_CHiTietDonHang] FOREIGN KEY([Orderid])
REFERENCES [dbo].[DonHang] ([Order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_DonHang_CHiTietDonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_Products_ChiTietDonHang] FOREIGN KEY([Productid])
REFERENCES [dbo].[Products] ([Product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_Products_ChiTietDonHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_Products_DanhGia] FOREIGN KEY([Productid])
REFERENCES [dbo].[Products] ([Product_id])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_Products_DanhGia]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_USERS_DanhGia] FOREIGN KEY([Userid])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_USERS_DanhGia]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_USERS_DonHang] FOREIGN KEY([Userid])
REFERENCES [dbo].[USERS] ([User_id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_USERS_DonHang]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Catalogue] FOREIGN KEY([Danh_Muc_id])
REFERENCES [dbo].[Catalogue] ([Cata_id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Catalogue]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_ThanhToan] FOREIGN KEY([Orderid])
REFERENCES [dbo].[DonHang] ([Order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_DonHang_ThanhToan]
GO
