<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Thêm danh mục - PC Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="lr">
        <form action="/admin/AddDM" method="POST" class="l-form">
            <h2>Thêm Danh Mục</h2>
            <label for="Cataid">Mã danh mục</label>
            <input type="text" name="Cataid" required maxlength="10">

            <label for="TenDanhMuc">Tên danh mục</label>
            <input type="text" name="TenDanhMuc" required>

            <button type="submit">Thêm danh mục</button>
            
            <a href="/admin/Quanlydanhmuc">Trở lại</a>
        </form>
    </div>
</body>
</html>
