<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Đăng nhập - PC Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="lr">
        <form action="/login" method="POST" class="l-form">
            <h2>Đăng nhập</h2>
            <label for="Username">Tên tài khoản</label>
            <input type="text" name="Username" required>
            <label for="Password">Mật Khẩu</label>
            <input type="password" name="Password" required>
            <button type="submit">Đăng nhập</button>
            <a href="/register"> Bạn chưa có tài khoản?</a>
            <a href="/">Trở lại trang web</a>
        </form>
    </div>
</body>
</html>
