<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Đăng ký - PC Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="lr">
        <form action="/register" method="POST" class="l-form">
            <h2>Đăng Ký</h2>
            <label for="Username">Tên tài khoản</label>
            <input type="text" name="Username" required>
            <label for="Password">Mật khẩu</label>
            <input type="password" name="Password" required>
            <label for="Fullname">Họ và Tên</label>
            <input type="text" name="Fullname" required>
            <label for="Diachi">Địa chỉ</label>
            <input type="text" name="Diachi" required>
            <label for="Phone">Số điện thoại</label>
            <input type="text" name="Phone" required>
            <button type="submit">Đăng ký</button>
            <a href="/login">Đã có tài khoản</a>
        </form>
    </div>
</body>
</html>
